:host {
  display: block;
}

ul {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #032c3e;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
  padding: 10px;
  text-wrap: nowrap;

  &:hover {
    color: #009b85;
  }
}