:host {
  display: block;
}

button {
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;

  span {
    transition: color 0.2s ease-in-out;
  }

  img {
    transition: filter 0.2s ease-in-out;
  }

  &:hover {
    background-color: #E9F5F3;

    span {
      color: #009b85;
    }

    img {
      filter: brightness(0) saturate(100%) invert(37%) sepia(93%) saturate(1001%) hue-rotate(140deg) brightness(93%) contrast(102%);
    }
  }
}