ul,
li,
p,
h1,
h2,
a,
input,
button {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #000;
  border: none;
  text-decoration: none;
}

button {
  &:hover {
    cursor: pointer;
  }
}

* {
  font-family: "Open Sans", sans-serif;
}