:host {
  display: block;
}

header {
  z-index: 5;
  position: fixed;
  background-color: #ffffff00;
  box-shadow: none;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px 0;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &.scrolled {
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .05);
  }
}

ul {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  width: 260px;
  padding: 25px 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px 80px;
}

.login-btn {
  padding: 10px;
  background-color: #009b85;
  color: #fff;
  border-radius: 4px;
  font-weight: 600;
  transition: filter 0.2s ease-in-out;

  &:hover {
    filter: brightness(1.1);
  }
}